* {
    box-sizing: border-box;
    font-family: 'Dosis';
    overflow-x: hidden;  
}

body {
    font-family: Arial;
    font-size: 17px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    padding-bottom: 50px;
    padding-top: 40px;
    letter-spacing: .05em;
    text-align: center;
    color: black; 
    font-size: 30px; 
}

#starsandthesea, #sharetheview, #dowhatyoulove, #losingourheads {
    width: 50%;
    height: auto;
}

.header-video video {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    z-index: -1;  
    width: 50%;
    height: auto; 
    margin-bottom: -7px;
}

.navbar {
  display: block;
  width: 100;
}

.navbar-nav{
  margin: 0 auto;
}

.navbar img{
  float: left;
position: absolute;
}


.sticky {
position: fixed;
top: 0;
width: 100%;
z-index: 2;
}

.navbar-nav a {
  margin-left: 35px;
}


.row {
    text-align: center;
}

.songs {
    background-image: url("assets/img/cover1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding-bottom: 50px;
}

.songs h1 {
    color: white;
    padding-top: 50px;
}

.songs img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 50px;*/
}


.events h1 {
    color: black;
    text-align: center;

}

.middle {
      transition: .5s ease;
      opacity: 1;
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
}

.middle img {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
}

.middle img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.text {
  background-image: url("assets/img/play-button.png");
  background-repeat: no-repeat;
}



.iframe{
   display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
  text-align: center;
  display: inline-block;
}
    

.events {
    
    background-image: url("assets/img/beach.png ");
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    background-position:contain;
    background-color: black;
}



#boys {
  float: left;
  z-index: 1;
  position: absolute;
  margin-top: 250px; 
}


.events h1 {
    color: #3498db;
}

.postcard-video1,.postcard-video3 {
    width: 75%;
    height: auto;
  }

.postcard-video2,.postcard-video4 {
  width: 79%;
  height: auto;
}

.meetUs {
  /*background-color: black;*/
}

.meetUs h1 {
  /*color: white;*/
}
@media only screen and (max-width: 1300px) {
  
  h1 {
    font-size: 25px;
  }
  .middle img {
    transform: scale(0.5);
  }

  .middle img:hover {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 1000px) {
  .events img {
    width: 230px;
    height: 150px;
    
  }

  #boys {
    margin-top: 350px;
  }

}

@media only screen and (max-width: 500px) {
  
  h1 {
    font-size: 20px;
  }

  .middle img {
    transform: scale(0.7);
  }

  .middle img:hover {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 450px) {

  .contact p {
    font-size: 20px;
  }

  .footer a {
    font-size: 12px;

  }
}

@media only screen and (max-width: 991px) {

  .navbar img {
    display: none;
  }

}

/*@media only screen and (max-width: 600px) {

  .events {
    background-image: url('assets/img/surfsmall3.jpg');
    background-size: cover; 
  }
}*/

.contact {
  background-color: rgb(25,25,25); 
  color: rgba(255,255,255,.75);

}

.contact h1 {
  color: white;
  padding-bottom: 75px;
}

.contact img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 40%;*/
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter2s{
  animation: typewriter 4s steps(44) 2s 1 normal both,
             blinkTextCursor 1000ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.footer {
  background-color: #2c3e50; 
}

.footer a {
  text-decoration: none;
  padding-right: 50px;
  color: white;
}



